<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.animal_medicalConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=7Silly$tars;database=animal_medical"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>